* {
    margin: 0px;
    padding: 0px;
}

.blink-it-navbar {
    border-bottom: 1px solid rgb(238, 238, 238);
    height: 86px;
    background-color: white;
    box-sizing: border-box;
    position: sticky;
    top: 0px;
}

.vertical-line {
    border-left: 1px solid rgb(238, 238, 238);
    height: 100%;
}


/*.location {
    border-left: 1px solid rgb(238, 238, 238);
    height: 86px;
    padding-top: 10px;
}*/

.location>p {
    font-size: 13px;
    font-weight: 400;
}

.search-bar {
    background-color: #f8f8f8;
    border-radius: 8px;
    border: 1px solid rgb(238, 238, 238);
    padding: 10px;
    width: 40vw;
}

.search-bar>input {
    border: none;
    width: 95%;
    font-size: 14px;
    color: rgb(153, 153, 153);
    background-color: transparent;
}

.search-bar>input:focus {
    outline: none;
}

.scrollable-div {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    width: 85vw;
    margin-inline: auto;
}


/* ::-webkit-scrollbar {
        display: none;
    }*/

.list {
    width: 100%;
    margin-inline: auto;
    white-space: nowrap;
}

.list>div {
    display: inline-block;
    margin: 10px;
}

.my-categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85vw;
    margin-inline: auto;
}

.my-category {
    width: 85vw;
    justify-content: center;
    margin-inline: auto;
}

.my-card {
    width: 190px;
    box-sizing: border-box;
}

.time-taken {
    font-weight: 700;
    font-size: 9px;
    color: rgb(54, 54, 54);
    width: fit-content;
    padding: 1px 3px;
}

.product-name {
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 13px;
    width: 100%;
    margin-bottom: 6px;
    margin-top: 6px;
}

.product-weight {
    color: #666666;
    font-size: 11px;
}

.product-price {
    color: rgb(31, 31, 31);
    font-weight: 600;
    font-size: 12px;
}

.product-btn {
    border: 1px solid green;
    border-radius: 6px;
    background-color: rgb(247, 255, 249);
    color: rgb(49, 134, 22);
    width: 66px;
    font-weight: 700;
    padding: 5px 10px;
}


/*.my-category {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
    overflow-x: auto;
    width: 85vw;
}*/

.my-category-row {
    display: flex;
    justify-content: space-between;
}

.my-card {
    margin: 10px;
}

.my-name {
    text-shadow: 5px 5px 10px black;
}